body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b4ffff;
  margin-right: 100px;
}

.tetris-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  border: 30px solid #0b0c0c;
  background-color: white;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-left: 10px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  margin-left: 35px;
}
h3 {
  margin-left: 120px;
  font-size: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#end-button {
  display: none;
}

#start-button, #end-button {
  background-color: #ff746a;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
#start-button {
  margin-left: 50px;
}

#start-button:hover, #end-button:hover {
  background-color: gray;
}

#end-button {
  margin-left: 60px;
}

@media (max-width: 900px) {
  .tetris-board {
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(10, 30px);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header {
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    padding: 0;
    height: 20%;
    background-color: none;
  }

  h1 {
    font-size: 40px;
    margin: 0 auto;
  }
  h2 {
    margin: 0 auto;
  }
  h3 {
    margin: 0 auto;
  }
  .tetris-board {
    margin-left: 90px;
    width: 40%;
    height: 40%;
  }
  #start-button, #end-button {
   margin: 0 auto;
  }
  #easy-button, #medium-button, #hard-button {
  display: none;
  }
}

header {
  border: 30px solid #1360e2;
  border-radius: 40px;
  margin-right: 120px;
  padding: 30px;
  height: 300px;
  background-color: #a2d6f9;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#easy-button, #medium-button, #hard-button {
  border: 2px solid black;
  font-size: 25px;
  cursor: pointer;
}

#easy-button:hover, #medium-button:hover, #hard-button:hover {
  background-color: aqua;
}