body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #227C9D;
  background: linear-gradient(to bottom, #227C9D, #A9FFCB);
  margin-right: 100px;
}

.tetris-board {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(20, 60px);
  border: 20px solid #E01A4F;
  background: linear-gradient(to bottom, #ECC30B, #F37748);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-right: 50px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-left: 10px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  margin-left: 35px;
}
h3 {
  display: flex;
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 0;
  position: absolute;
  top: 425px; 
  margin-left: 1020px;
  transform: translateX(-50%); 
  border: 10px solid black;
  height: 80px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: white;
}


#end-button {
  display: none;
}

#start-button, #end-button {
  background: linear-gradient(to bottom, #ff746a, #e55050);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}
#start-button {
  margin-left: 50px;
}

#start-button:hover, #end-button:hover {
  background: linear-gradient(to bottom, #e55050, #ff746a);
}

#end-button {
  margin-left: 60px;
}

@media (max-width: 900px) {
  .tetris-board {
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(10, 30px);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header {
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    padding: 0;
    height: 20%;
    background-color: none;
  }

  h1 {
    font-size: 40px;
    margin: 0 auto;
  }
  h2 {
    margin: 0 auto;
  }
  h3 {
    margin: 0 auto;
  }
  .tetris-board {
    margin-left: 90px;
    width: 40%;
    height: 40%;
  }
  #start-button, #end-button {
  margin: 0 auto;
  }
  #easy-button, #medium-button, #hard-button {
  display: none;
  }
}

header {
    background: linear-gradient(to bottom, #ECC30B, #F37748);
    border: 20px solid #E01A4F;
    border-radius: 40px;
    margin: 0 auto;
    padding: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.difficulty-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
#easy-button, #medium-button, #hard-button {
  background-color: #a2d6f9;
  color: #000;
  border: 2px solid #1360e2;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.4s ease-in-out;
}

#easy-button:hover, #medium-button:hover, #hard-button:hover {
  background-color: aqua;
}


.next-piece {
  border: 10px solid black;
  padding: 10px;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-right: 600px;
  margin-bottom: 150px;
}

.next-piece h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.next-piece-preview {
  display: grid;
  grid-template-columns: repeat(4, 20px); 
  grid-template-rows: repeat(4, 20px); 
  gap: 2px; 
}

.next-piece-preview div {
  width: 20px; 
  height: 20px; 
  border: 1px solid #ccc;
}
